
body{
    background-color: rgba(19, 11, 1, 0.993);
    color: yellow;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    text-align: center;
    
}



a {
    color: rgb(240, 186, 8);
    text-decoration: none;
    
}

.logo{
    width: 50px;
}


.lista-menu{

    display: flex;
    gap: 7%;
    align-items: center;
    list-style: none;
    justify-content: center;


}

nav div ul li a{
    color:  rgb(240, 186, 8);
    text-decoration: none;
}
nav div ul li a:hover{
    color: rgb(48, 12, 255);
    background-color: rgb(240, 186, 8);
    border-radius: 35%;
    
}


.imagem-banner{
    width: 100%;
    height: auto;
    max-height: 700px; 
    object-fit: fill;
    margin: 20px 0;
    display: block;
    
}

.cardapio{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.prato{
    text-align: center;
    border:  1px solid  rgb(240, 186, 8);
    padding: 10px;
    border-radius: 10px;
}

.localizacao{
    text-align: center;

    
}



.lista-rodape{
    list-style: none;
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    
}



div form a {
    color:  rgb(0, 0, 0);
    font-size: small;
}

div form a:hover {
    color: rgb(48, 12, 255);
}


/* Tela de login */


div form button{
    background-color: rgba(19, 11, 1, 0.993);
    color: rgb(240, 186, 8);
    padding: 5px 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    
}
div form button:hover{
    background-color: #55c02b;
    color: black;

}



.tela-login{

    align-items: center;
    justify-items: center;
    color:black;
    
}
.formulario-login {
  background: rgb(240, 186, 8);
  padding: 30px;
  border-radius: 10px;
  
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Tela de registro */

.main-registro {
  color:black;
  justify-items: center;

  
}

.tela-registro{
    background-color: rgb(240, 186, 8); 
    padding: 30px;
    border-radius: 10px;

}
.formulario-registro{
    display:flex;
    flex-direction: column;
    
}

