
body{
    font: 'Open Sans Condensed', sans-serif;;
    background-color: rgba(19, 11, 1, 0.993);
    color: yellow;
    
}
h1{
    text-align: center;
}



a {
    color: rgb(240, 186, 8);
    text-decoration: none;
    
}

.logo{
    width: 50px;
}


.lista-menu{

    list-style: none;
    display: flex;
    gap: 7%;


}

.imagem-banner{
    width: 100%;
    height: 500px;
    object-fit: fill;
    margin: 20px 0;
    display: block;
    
}

.cardapio{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.prato{
    text-align: center;
    border:  1px solid  rgb(240, 186, 8);;
    padding: 10px;
    border-radius: 10px;
}

.mapa{
    width: 300px;
    height: 300px;
}



.lista-rodape{
    list-style: none;
    display: flex;
    gap: 3%;
}